TZ=Asia/Shanghai
SEEKDB_PORT=2881
SEEKDB_OBSHELL_PORT=2886
SEEKDB_ROOT_PASSWORD=root123456
SEEKDB_DATABASE=app
SEEKDB_CPU_COUNT=1
SEEKDB_MEMORY_LIMIT=2G
SEEKDB_LOG_DISK_SIZE=2G
SEEKDB_DATAFILE_SIZE=2G
SEEKDB_DATAFILE_NEXT=2G
SEEKDB_DATAFILE_MAXSIZE=50G
